body {
    width: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

pre { 
    background-color: #ddd;
    padding-bottom: 10px;
    padding-top: 20px;
}
pre.oneLine {
    height: 20px;
    line-height: 20px;
}

p:first-letter {
    font-size: 1.5em;
}

p.cacherMoi {
    word-spacing: 1px;
    letter-spacing : 3px; 
}

div.autreImage {
    width: 100%;
    background-color: #eee;
}
div.autreImage figure figcaption {
    text-align: center;
    padding: 20px;
}

div.container {
    width: 100%;
    height: 50px;
    background-color: #eee;
    position: relative;
}
div.container div.blue {
    background-color: #0080ff;
    left: 0;
}
div.container div.red {
    background-color: #800000;
    right: 0;
}
div.container div.blue, div.container div.red {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
div.hoverTest p {
    display: none;
}
div#onTest p {
    border: 1px solid black;
    background-color: #999;
    color: white;
}
div#onObjet {
    background-color: #999;
}
div#onObjet div.p1, div#onObjet div.p2, div#onObjet div.p3 {
    background-color: #fff;
    display: inline-block;
    width: 32.5%;
    border: 2px solid black;
    height: 40px;
    color: black;
    line-height: 40px;
    text-align: center;
    font-size: 3em;
}

i.fa {
    font-size: 2em;
}

span.parentheseOpenOne, pre span.parentheseCloseOne {
    color: orange;
}
span.parentheseOpenTwo, pre span.parentheseCloseTwo {
    color: darkorange;
}
span.parentheseOpenThree, pre span.parentheseCloseThree {
    color: purple;
}
span.guillemets {
    color: green;
}
span.evenements {
    color: purple;
}
span.functions {
    color: darkorchid;
    font-style: italic;
}
span.baliseHTML {
    color: blue;
}
span.commentaire {
    font-style: italic;
    color: #444;
}

footer {
    margin-top: 20px;
    background-color: #eee;
    padding: 25px;    
}
footer p {
    text-align: center;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    background-color: #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid #999;
}

footer ul li:hover {
    border: 2px solid #444;
}

footer ul a.active li {
    border: 2px solid #000;
}